{% extends "ophugger.html" %}
{% load i18n %}
{% load url from future %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password reset' %}
</div>
{% endblock %}

{% block title %}{% trans 'Password reset successful' %}{% endblock %}

{% block content %}

<h1>{% trans 'Password reset successful' %}</h1>
<br>
<p>{% trans " Vi har sendt dig en email med instruktion til at oprette en nye password. Du vil modtage den snartest." %}</p>

{% endblock %}
