a:link {text-decoration: none;color:#FFA500;}    
a:visited {text-decoration: none;  color:#800000;}
a:hover {text-decoration: none; color:purple;}   
a:active {color:#0000FF;}
 h3{
	  font-weight:100;
	  color: red;
	  text-decoration: none;
	}

.all {
	
}
.all .headerOne {
	height: 100px;
	width: 900px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFF;
}
.all .con {
	height: auto;
	width: 900px;
	margin-right: auto;
	margin-left: auto;
}
.all .con .headTwo {
	height: 150px;
	width: 900px;
	background-color: #99CCFF;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 24px;
	font-style: italic;
	color: #000066;
	padding-left: 8px;
}
.all .con .menu {
	height: 50px;
	width: 900px;
	background-color: #FFF;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 20px;
	font-style: italic;
	padding-left: 8px;
	border-left-width: 0px;
}
.all.con.menu.rightlink{
	text-align: right;
}

#nav {
	width: 100%;
	float: left;
	margin: 0 0 3em 0;
	padding: 0;
	list-style: none;
	background-color: #f2f2f2;
	border-bottom: 1px solid #ccc; 
	border-top: 1px solid #ccc; }
#nav li {
	float: left; }
#nav li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #069;
	border-right: 1px solid #ccc; }
#nav li a:hover {
	color: #c00;
	background-color: #fff; }
	
	
.all .con .rigthside {
	float: right;
	width: 148px;
	height: auto;
	clear: none;
	background-color: #FFF;
}
.all .con .leftside {
	float: left;
	width: 740px;
	height: auto;
	border-top-color: #CF9;
	border-right-color: #CF9;
	border-bottom-color: #CF9;
	border-left-color: #CF9;
	background-color: #FFF;
	font-size: 20px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-style: italic;
	color: #000000;
	padding-right: 0px;
	padding-left: 8px;
	margin-left: 0px;
}
.all .con .button {
	font-size: 16px;
	font-style: italic;
	color: #CC0;
	height: 40px;
	width: 900px;
	background-color: #FFF;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	text-decoration: blink;
	margin-right: auto;
	margin-left: auto;
	clear: both;
	text-align: center;
}
.all .con .jobtype {
	font-size: 20px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-style: italic;
	padding-left: 8px;
	color: #006;
}
.all .con .jobtype table {
	border-top:1px solid #e5eff8;
	border-right:1px solid #e5eff8;
	margin:1em auto;
    border-collapse:collapse;
	color:#678197;
	border-bottom:1px solid #e5eff8;
	border-left:1px solid #e5eff8;
	padding:.3em 1em;
	text-align:center;

}
.all .con .leftside table {
	background-color: whiteSmoke;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-style: italic;
	padding-left: 8px;
	color: #006;
}
.all .con .leftside table th{
	color: #333;
	font-size: 20px;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	padding: 0 20px;

}
.all .con .leftside table td{
	font-style: normal;
	padding: 0 20px;
	line-height: 20px;
	color: #0084B4;
	font-size: 18px;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
	
