{% extends "ophugger.html"%}

{% block title %}
vil du slet din profil in aotoindex.dk?
{% endblock %}
  {% block headmenu %}
                	<li><a href="/" ><span></span>Forside</a></li>
                	<li> <a href='/skrot/' > <span></span>Skrot din bil</a></li>                                
                    <li> <a href='/biler/'> <span></span>Biler til at byde</a></li>
                     <li><a href="/auto_ophugger/"><span></span>Auto ophugger</a></li><br></br>
                    {% if user.is_authenticated %}
                    	<li><a href="/profil/" ><span></span>Profil &nbsp;&nbsp;</a></li>
	                    <li><a href="/logud/"><span></span> Log ud</a> </li>
	                    <li><a href="/vil_du_slet_profil/" class="current"> <span></span>Slet profil</a></li>
					{%else%} 
						<li><a href='/login/'> <span></span>Login</a> </li>
						<li><a href='/register/'><span></span> Register</a></li>
					{% endif %}
					<li><a href=""><span></span>Om os</a></li>
                    <li><a href="/kontakt/"><span></span>Kontakt os</a></li>                   
                  
                </ul>
    {% endblock %}

{% block content %}
Vi vil gerne have du bliver, ærgerligt at se du gå, men hvis du har virkeligt besluttet dig, så trykker på: 
 <a href="/slet_profil/">
    <button>Ok</button>
 </a>
 {% endblock %}