{% extends "profile.html"%}

{% block title %}
redigere {{ao.company}}s profil
{% endblock %}
{% block content %}
<a href="/profil/" ><h3>Tilbage til dit profil</h3></a> 
<h2>Du kan ændre din profil her</h2>
{{text}}
<div  id="stylized" class="form">
	<form action="" method="post" enctype="multipart/form-data" >
	{% csrf_token %} 
	<table>
		<tr><td><label for="virksomhed" >Virksomhed:
		{% if form.company.errors %} <span class="small">{{form.company.errors}}</span>  {%endif%}</label></td> 
		<td> {{form.company}}</td></tr>
		
		<tr><td><label for="id_cvr">CVR:
		{% if form.cvr.errors %}  <span class="small">skriv en gyldig cvr nr</span>  {%endif%}</label> </td>
		<td>{{form.cvr}}</td></tr>
		
		<tr><td><label for="id_email">Email:
		{% if form.email.errors %}  <span class="small">skriv en gyldig email</span>  {%endif%}</label></td>
		<td> {{form.email}}</td></tr>		
		
		<tr><td><label for="id_tlf">Telefon:
		{% if form.tlf.errors %}  <span class="small">skriv en gyldig telefon nr</span>  {%endif%}</label> </td>
		<td>{{form.tlf}}</td></tr>		
		
		<tr><td><label for="id_address">Addresse:
		{% if form.street.errors %}  <span class="small">skriv en gyldig adresse</span>  {%endif%}</label> </td>
		<td>{{form.street}}</td></tr>
				
		<tr><td><label for="id_city">Post nummer:
		{% if form.postcode.errors %}  <span class="small">skriv en korrekt postnummer </span>>  {%endif%}</label> </td>
		<td>{{form.postcode}}</td></tr>
		
		<tr><td><label for="id_city">By:
		{% if form.city.errors %}  <span class="small">skriv en gyldig bynavn</span>  {%endif%}</label></td>
		<td> {{form.city}}</td></tr>

		<tr><td><label for="id_area">Område:
		{% if form.area.errors %}  <span class="small">vælg et gyldigt område </span>  {%endif%}</label></td>
		<td> {{form.area}}</td></tr>
		
		<tr><td><label for="id_web">Website:
		{% if form.web.errors %}  <span class="small">{{form.web.errors}} </span>  {%endif%}</label></td>
		<td> {{form.web}}</td></tr>
		
		
		<tr><td><label for="id_description">Skriv lidt om værkstedet:</label></td>
		 <td>{{form.description}}</td></tr>
			 
		<tr><td></td><td><input type="submit" alt="Ændre", value="Ændre"></td></tr>
		</table>
		</form>
</div>
 {% endblock %}
 