{% extends "profile.html"%}

{% block title %}
{{ao.company}}s profil billede
{% endblock %}

{% block content %}
<div class="userprofile">
<h2>Hey, du kan tilføje eller ændre dit virksomheds billede her</h2>
<h3>{{text}}</h3>
 <form action="" method="post" enctype="multipart/form-data" >
 	{% csrf_token %} 
 	dit nuværrende profile billede er: 
		{% if not ao.picture %}
			Du har ikke noget profile billede.
		{% else%}
			<img src="{{MEDIA_URL}}{{ao.picture}}" width="200" height="150">
		
		{% endif %}
 		{% if form.picture.errors %}  <span class="small">{{ao.picture.errors}}  </span>{%endif%}
		<p><label for="id_picture">Du kan ændre /tilfølje et profil billede her:</label>{{form.picture}}</p>
</div>
<div class="userpicture"></div>
<div class="userbid">	
	<input type="submit" name="delete" value="Slet" />
	<input type="submit" name="change" value="Ændre" />
	{{ form.errors }}
</form>
</div>	 
 {% endblock %}
 
 
 