<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Skrot din bil den det højeste pris</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
{% load staticfiles %}
<link href="{% static 'style-skrot.css' %}" rel="stylesheet" type="text/css" />
<link rel="Shortcut Icon" href="{% static 'icon_4.png' %}" />
</head>
<body>

<div id="site_title_bar_wrapper">
	<div id="site_title_bar">
    	<div id="site_title">
    	<img src="{% static 'testing.jpg'%}" height=150; px width=150px;></img>
            <!-- <h1><a href="/">SKROTINDEX.DK<span>
            Højeste skrotpræmie for din bil</span>
            </a></h1>-->
        </div>
        
        <div id="site_title_bar_right_section">
        
            <div id="menu">
              	<li><a href="/" class="current"><span></span>Forside</a></li>
                	<li> <a href='/skrot/' > <span></span>Skrot din bil</a></li>                                
                    <li><a href="/auto_ophugger/"  ><span></span>Autoophuggere</a></li>
                    <li><a href="/om-os/"><span></span>Om os</a></li>
                    <li><a href="/kontakt/" ><span></span>Kontakt os</a></li> 
                    {% if user.is_authenticated %}                   
	                    	<li><a href="/profil/"><span></span>Profil &nbsp;&nbsp;</a>
		                    	<ul class="sub">
		                    		<li> <a href='/biler/' > <span></span>Byd på biler</a></li>
				                    <li><a href="/logud/"><span></span> Log ud</a> </li>
				                    <li><a href="/vil_du_slet_profil/"> <span></span>Slet profil</a></li>
			                    </ul>
		                    </li>
					{%else%} 
					 <li><a href='#'><span></span>For Autoophuggere</a>
					 	<ul class="sub">
							<li><a href='/login/' > <span></span>Login</a> </li>
							<li><a href='/register/'><span></span> Registrer</a></li>
							<li> <a href='/biler/' > <span></span>Byd på biler</a></li>
						</ul>
					</li>
					{% endif %}
            </div> <!-- end of menu -->
            
		</div>        
       
	</div> <!-- end of site_title_bar -->        
       
</div> <!-- end of site_title_bar_wrapper -->

<div id="banner_wrapper">

	<div id="banner">
       	<p><b>Skrotindex.dk linker dig op til alle autoophuggere i Danmark, så du som bilejer sikrer dig den bedst mulige skrotpris. Når Skrotindex.dk har fundet den højeste skrotpræmie, modtager du tre tilbud fra din nærmeste ophugger - så enkelt er det. 
</b></p>
		<!--<a href="#">Se mere <span>&raquo;</span></a>-->
    
    </div> <!-- end of banner -->

</div> <!-- end of banner_wrapper -->

<div id="content_wrapper">

	<div id="content">
    
    	<div class="service_box">
        	
             <a href="/skrot/"><h2>Skrot din bil</h2></a>
            <p>Indhent 3 gratis og uforpligtende tilbud fra din nærmeste autoophugger </p>
            <a href="/skrot/"><img src="static/icon_1.png" alt="image 1" /></a>
           
                    
        </div>
        
        <div class="service_box">
        	
            <a href="/auto_ophugger/"><h2>Find en autoophugger</h2></a>
            <p>Find en skrotforhandler nær dig – se den samlede oversigt over autoophuggere i dit nærområde.</p>
            <a href="/auto_ophugger/"><img src="static/icon_2.png" title="autoophugerne" alt="autoophuggerne" /></a>
                    
        </div>
        
		<div class="service_box">
        	
            <a href="/biler/"><h2>For autoophugger </h2></a>
            <p>Som autoophugger kan du her afgive dit bud på en skrotbil.   
            </p>
            <a href=""><img src="static/icon_3.png" alt="image 3" /></a>
           
                    
        </div>
        
        <div class="cleaner_h40"></div>
    
    	<div class="section_w960">
        
        	<div class="section_w600">
            	
                <h2>Om Skrotindex.dk </h2>
                
                <div class="image_wrapper fl_image"><img src="static/image_01.jpg" alt="image 10" width="200" height="133" /></div>
                
             <p class="em_text"> Skrotindex.dk skaber gennemsigtighed ved at samle alle skrotforhandler i Danmark under et site, <a href="/om-os">læs mere</p>  
                
       	  </div>
            
            <div class="section_w320">
            
            	<h2>Seneste biler</h2>
                {% for c in car %}
                <div class="news_section">
                    <h3><a href="{{site}}/bil/{{c.id}}">{{ c.brand}}</a></h3>
                    <p>fra {{c.year}}, i {{c.address}}, ønkser afhentning: {% if c.pickup %} Ja {%else%} Nej {% endif %}</p>
                </div>
                
                {% endfor %}
                
                <div class="button_01"><a href="{{site}}/biler">Se alle bilerne</a></div>
            
            </div>
            
            <div class="cleaner"></div>
        </div>
    
    </div> <!-- end of content -->

</div> <!-- end of content_wrapper -->
<div id="footer_wrapper">
	<div id="footer">
        
            <ul class="footer_menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">Om os</a></li>
                <li class="last_menu"><a href="#">Kontakt</a></li>
            </ul>
            
            Copyright © 2014 <a href="#">Skrotindex</a> | 
            Designed by <a href="" rel="nofollow" target="_parent">HL web/software</a> | 
            Validate <a href="http://validator.w3.org/check?uri=referer">XHTML</a> &amp; <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>
        
        </div> <!-- footer -->
</div> <!-- end of footer_wrapper -->

</body>
</html>