{% extends "ophugger.html"%}
{% block title %}
login
{% endblock %}
    {% block headmenu %}
               	<li><a href="/"><span></span>Forside</a></li>
                	<li> <a href='/skrot/' > <span></span>Skrot din bil</a></li>                                
                    <li><a href="/auto_ophugger/" ><span></span>Autoophuggere</a></li>
                    <li><a href="/om-os/"><span></span>Om os</a></li>
                    <li><a href="/kontakt/" ><span></span>Kontakt os</a></li> 
                    {% if user.is_authenticated %}                   
	                    	<li><a href="/profil/"  class="current"><span></span>Profil &nbsp;&nbsp;</a>
		                    	<ul class="sub">
		                    		<li> <a href='/biler/' > <span></span>Byd på biler</a></li>
				                    <li><a href="/logud/"><span></span> Log ud</a> </li>
				                    <li><a href="/vil_du_slet_profil/"> <span></span>Slet profil</a></li>
			                    </ul>
		                    </li>
					{%else%} 
					 <li><a href='#'><span></span>For Autoophuggere</a>
					 	<ul class="sub">
							<li><a href='/login/'  class="current"> <span></span>Login</a> </li>
							<li><a href='/register/'><span></span> Registrer</a></li>
							<li> <a href='/biler/' > <span></span>Byd på biler</a></li>
						</ul>
					</li>
					{% endif %}
       {% endblock %}
{%block content %}
Log ind på din konto her:
<h3>{{text}}</h3>
<div id="stylized" class="form">
<form action="" method="post">
{% csrf_token%}
<table>
	<tr><td>{{form.errors}}</td></tr>
	<tr><td><label for="username"}>Brugernavn: 
	 {% if form.username.errors%}<span class="small"></span> {% endif%}</label></td>
	 <td>{{form.username}}</td></tr>
	
	<tr><td><label for="password">Password: 
	{% if form.password.errors%}<span class="small"></span> {% endif%}</label></td>
	<td>{{form.password}}</td></tr>
	
	<tr><td></td><td>Glemt dit kodeord? <a href="/resetpassword/"><span style="color: red;">Tryk her</span></a></td></tr>
	<tr><td></td><td><input type="submit" value="Login"></td></tr>
	
</table>
</form>
</div>

{% endblock %}