{% extends "index.html"%}

{% block title %}
{{company.company}}s profil
{% endblock %}

{% block content %}
<h2>Hey, {{company.username}}</h2>

{{company.email}}

{% if not company.picture %}
{% else%}
<img src="{{MEDIA_URL}}{{company.picture}}" width="200" height="150">

{% endif %}
</br>
	<a href="/redigere_profil/"> Rediger din virksomhed profil her</a></Br>
	<a href="/redigere_profile_billede/"> Rediger eller tilføje et billede for din virksomhed</a> </br>
	 
 {% endblock %}
 
 {% block right %}
 <h2> Dine buder:</h2>
 {% for b in bid %}
 {{b.car}}
 {{b.car.brand}}
 {{ b.price}}
 <a href="/bekraeft_slet_bud/{{b.id}}">slet den bud</a>
 {%endfor%} 
 {% endblock %}
 