{% extends 'ophugger.html' %}

{% block title %}
Autoophugger {{ao.company}}
{% endblock %}
 {% block headmenu %}
                	<li><a href="/"><span></span>Velkom</a></li>
                	<li> <a href='/skrot/' > <span></span>Skrot din bil</a></li>                                
                    <li> <a href='/biler/' > <span></span>Biler til at byde</a></li>
                     <li><a href="/auto_ophugger/"  class="current"><span></span>Auto ophugger</a></li><br></br>
                    {% if user.is_authenticated %}
                    	<li><a href="/profil/"><span></span>Profil &nbsp;&nbsp;</a></li>
	                    <li><a href="/logud/"><span></span> Log ud</a> </li>
	                    <li><a href="/vil_du_slet_profil/"> <span></span>Slet profil</a></li>
					{%else%} 
						<li><a href='/login/' > <span></span>Login</a> </li>
						<li><a href='/register/'><span></span> Register</a></li>
					{% endif %}
					<li><a href=""><span></span>Om os</a></li>
                    <li><a href="" ><span></span>Kontakt os</a></li>                   
                  
                </ul>
                {% endblock %}
{% block content %}

<h1>{{ao.company}}</h1>
<p>{{ao.street}}</p>
<p>{{ao.postcode}} {{ao.city}}</p>
<p></p>
<p>{{ao.web}}</p>
<p></p>
<p>{{ao.description}}</p>

{% block right %}
{% if not ao.picture %}
{% else%}
<img src="{{MEDIA_URL}}{{ao.picture}}" width="150" height="150">
{% endif %}
{% endblock %}

{% endblock %} 