{% extends "ophugger.html" %}
{% block title %} Register {% endblock%}
 {% block headmenu %}
                	<li><a href="/" ><span></span>Forside</a></li>
                	<li> <a href='/skrot/' class="current"> <span></span>Skrot din bil</a></li>                                
                    <li> <a href='/biler/' > <span></span>Biler til at byde</a></li>
                     <li><a href="/auto_ophugger/"><span></span>Auto ophugger</a></li><br></br>
                    {% if user.is_authenticated %}
                    	<li><a href="/profil/" ><span></span>Profil &nbsp;&nbsp;</a></li>
	                    <li><a href="/logud/"><span></span> Log ud</a> </li>
	                    <li><a href="/vil_du_slet_profil/"> <span></span>Slet profil</a></li>
					{%else%} 
						<li><a href='/login/'> <span></span>Login</a> </li>
						<li><a href='/register/'><span></span> Register</a></li>
					{% endif %}
					<li><a href=""><span></span>Om os</a></li>
                    <li><a href="/kontakt/"><span></span>Kontakt os</a></li>                   
                  
                </ul>
       {% endblock %}
{% block content %}
<h2>{{text}}</h2>
<div id="stylized" class="form">
	<form action="" method="post" enctype="multipart/form-data">
	{% csrf_token %} 
	<table>
		<tr><td><label for="nummer plader" >Nummer plader:
		{% if form.plate.errors %}  <span class="small">skriv din nummerplader</span>  {%endif%}</label></td><td>{{form.plate}}</td>
		</tr>
		
	
		<tr><td><label for="årgang">Årgang:
		{% if form.year.errors %}  <span class="small">Hvilke årgang er bilen fra</span>  {%endif%}</label></td>
		<td>{{form.year}}</td></tr>
		
		
		<tr><td><label for="password">Mærker:
		{% if form.brand.errors %}  <span class="small">skriv en gyldig bilmærk</span>  {%endif%}</label></td>
		<td>{{form.brand}} </td></tr>
		
		<tr><td><label for="id_password2">Hvor er bilen:
		{% if form.adress.errors %}  <span class="small">hvor befinder bilen </span>  {%endif%}</label></td>
		<td>{{form.address}}</td></tr>
		
		<tr><td><label for="id_by">By: 
		{% if form.city.errors %}  <span class="small">Hvilken by i Danmark</span>  {%endif%}</label></td>
		<td>{{form.city}}</td></tr>
		
		<tr><td><label for="afhentning">Afhentning:
		{% if form.pickup.errors %}  <span class="small">makér eller lad være</span>  {%endif%}</label> </td>
		<td>{{form.pickup}}</td></tr>
		
		<tr><td><label for="email">Kontakt email:
		{% if form.email.errors %}  <span class="small">skriv en gyldig email</span>  {%endif%}</label></td>
		<td>{{form.email}}</td></tr>

		<tr><td><label for="telefon nummer">Telefon nummer:
		{% if form.tlf.errors %}  <span class="small">skriv en gyldig telefon nummer</span>  {%endif%}</label> </td>
		<td>{{form.tlf}}</td></tr>
		
		<tr><td><label for="dage">Hvor mange dage:
		{% if form.duration.errors %}  <span class="small">Hvor lang tid skal den være på aktion</span>  {%endif%}</label> </td>
		<td>{{form.duration}}</td></tr>
		
		<tr><td><label for="bilbillede">Billede på bilen:
		{% if form.picture.errors %}  <span class="small">upload et gyldig billede</span>  {%endif%}</label> </td>
		<td>{{form.picture}}</td></tr>
		
		<tr><td><label for="hvilke område">Hvilke område skal ophugger være:
		<span class="small">hoold ctrl ind eller cmd på mac for at vælge flere</span></label></td>
		 <td>{{form.bid_area}}</td></tr>
		 
		<tr><td></td><td><input type="submit" alt="set på aktion", value="register"></td></tr>
	</table>	
	</form>
</div>

{% endblock%}