{% extends 'ophugger.html' %} 
{% block title %}
Find biler der vil sælges til skrot handler
{% endblock %}
 {% block headmenu %}
              	<li><a href="/"><span></span>Forside</a></li>
                	<li> <a href='/skrot/' > <span></span>Skrot din bil</a></li>                                
                    <li><a href="/auto_ophugger/"  ><span></span>Autoophuggere</a></li>
                    <li><a href="/om-os/"><span></span>Om os</a></li>
                    <li><a href="/kontakt/" ><span></span>Kontakt os</a></li> 
                    {% if user.is_authenticated %}                   
	                    	<li><a href="/profil/"><span></span>Profil &nbsp;&nbsp;</a>
		                    	<ul class="sub">
		                    		<li> <a href='/biler/' > <span></span>Byd på biler</a></li>
				                    <li><a href="/logud/"><span></span> Log ud</a> </li>
				                    <li><a href="/vil_du_slet_profil/"> <span></span>Slet profil</a></li>
			                    </ul>
		                    </li>
					{%else%} 
					 <li><a href='#'><span></span>For Autoophuggere</a>
					 	<ul class="sub">
							<li><a href='/login/' > <span></span>Login</a> </li>
							<li><a href='/register/'><span></span> Registrer</a></li>
							<li> <a href='/biler/' class="current"> <span></span>Byd på biler</a></li>
						</ul>
					</li>
					{% endif %}
 {% endblock %}

{% block area %}
	        <ul id="nav">
	        	<li><a href="/biler/">Hele Danmark</a></li>
		        {% for a in all_areas %}
		        	<li><a href= "/biler/{{a.area}}/">{{a.area}}</a></li>
		        {% endfor %}
		     </ul>
{% endblock %}
 
{% block leftbody %}
		  <h2>Biler i  {% if area %} {{area}} {%else%} Danmark {% endif %}</h2><br>
		<table >
		<tr>
			<th>Mærk</th>
			<th>Årgang</th>
			<th>By</th>
			<th>Billede</th>
		</tr>	
		{% for c in car %}
		 <tr>
		   		<td><a href="/bil/{{c.slug}}/">{{ c.brand}}</a></td>
			    <td>{{c.year}}</td>
			    <td>{{c.city}}</td>
			    {% if not c.picture %}
			    {% else %}
			    	<td><img src="{{MEDIA_URL}}{{c.picture}}" width="50px" height="50px"/></td>
			    {% endif %}
		  </tr>
		{% endfor %}
		</table> 

	{% block pagination %}
        {% if car.has_previous %}
            <a href="?page={{ car.previous_page_number }}">Forrige</a>
        {% endif %}

        <span class="current">
            Side {{ car.number }} af {{ car.paginator.num_pages }}
        </span>

        {% if car.has_next %}
            <a href="?page={{ car.next_page_number }}">næste</a>
        {% endif %}
      {% endblock %}   
{% endblock %}  

